
  @font-face {
    font-family: "Bitter";
    src: url(../src/Fonts/bitter/Bitter-Regular.ttf);
    font-weight: 400; 
  }

  @font-face {
    font-family: "Bitter";
    src: url(../src/Fonts/bitter/Bitter-Thin.woff2);
    font-weight: 300;
  }

  @font-face {
    font-family: "Butler";
    src: url(../src/Fonts/butler/Butler_Regular.otf);
    font-weight: 400;
  }

 * {
    margin: 0;
    box-sizing: border-box;
    
 }
 
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;

  }

#title-page {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 86px;
}

.subtitle-page {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.biography-section_name {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 86px;
}

.biography-section_header {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.biography-section_box-text_text {
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 26px;
}

.designers-section_header {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.designer_name {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.designer_from {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.designer_skills {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}


.testimonials_header {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.testimonials_item-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    list-style-type: none;
}

.testimonials_item-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    list-style-type: none;
}

.testimonials_text {
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 32px;
}

.strong-points_header {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.strong-points_strengths-header {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 86px;
}

.strong-points_item {
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 34px;
    list-style-type: none;
    padding: 0%;
}

.button-header {
    display: block;
    margin: 8% auto;  
}

/* title-section */
.title-section {
    display: block;
    position: relative;
    max-width: 1060px;
    max-height: 630px;
    margin: auto;
    margin-bottom: 8%;
}

@supports (display: flex) {
    .title-section {
        display: flex;
        max-width: 1060px;
        max-height: 630px;
        margin: auto;
        margin-bottom: 8%;
    }
}

.title-section_background-img {
    max-width: 100%;
    display: block;
}

.title-inner-box {
    display: inline-block;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #FFFFFF;

    max-width: 625px;
    max-height: 364px;

    text-align: center;
    padding: 8%;
}


/* biography-section */

.biography-section {
    display: flex;
    flex-direction: row;
    max-width: 1303px;
    max-height: 840px;
    margin: 0 auto;
    margin-bottom: 8%;

    gap: 3%;
}

.biography-section_header {
    align-self: flex-start;
    order: 1;
    writing-mode: vertical-lr; 
    /* сейчас  writing-mode работает не во всех браузерах корректно*/
    max-width: 475px;
    margin-bottom: 20px;
}

.biography-section_main-disigner-img {
    max-width: 100%;
}

.biography-section_box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 3;

    max-width: 445px;
    max-height: 475px;
    margin: auto;
    padding-bottom: .4em;

}

.biography-section_name {
    padding-bottom: .4em;
}

.biography-section_skills {
    padding-left: 0%;
}


.biography-section_skills_item {
    display: inline-block;
    list-style: none;
}

.biography-section_skills_item::after {
    content: "/";
    margin-left: .3em;

}

.biography-section_skills_item:last-child::after {
    content: "";
    
}

.biography-section_box-text_text::before {
    content: "-";
    display: block;
    padding: 4%;
}

/*  designers-section */

.designers-section {
    margin: 0 auto;
    margin-bottom: 8%;

    max-width: 1337px;
    max-height: 650px;

    display: grid;   
    grid-template-columns:  2fr 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;

    overflow: auto;
}

.designers-section_header {
    max-width: 91px;
    order: 1;
    grid-column: 2/4;
    grid-row: 1/2;

    transform: rotate(-90deg);
    margin-left: 18rem;

}

.designers-section_big-box {
    grid-column: 1/2;
    grid-row: 1/8;
    order: 0;
    
}

.designers-section_normal-box {
    grid-row: 2/8;
    
}

.designers-section_desigher-data {
    padding-top: 6px;
}

.designers-section_desigher-data-with-big-img {
    margin-left: 50%;
}

.designer_from::before {
    content: "From/";
    font-weight: bold;
}

.designer_skills::before {
    content: "Skills/";
    font-weight: bold;
}

.designers-section_big-img {
    max-width: 600px;
    max-height: 538px;
}

.designers-section_img {
    max-width: 310px;
    max-height: 439.40px;
}

.designer_skills {
    list-style: none;
    padding: 0;
}

.designer_skills-item {
    display: inline-block;
}

.designer_skills-item::after {
    content: "/";
    margin-left: .3em;
}

.designer_skills-item:last-child:after {
    content: "";
}






/*  секцмя testimonials-section  */

.testimonials-section {
    max-width: 1256px;
    
    margin: 0 auto;
    margin-bottom: 8%;
}

.testimonials_header {
    padding-bottom: 31px;
}

.testimonials-items-box {
    display: grid;
    grid-template-columns: 50px 1fr 1fr;

}

.testimonials-items-list {
    height: 766px;

    padding-top: 10px;
    padding-bottom: 20px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: end;
}

.testimonials_item-text {
    transform-origin: top left;
    transform: rotate(-90deg);
}

.testimonials_img_testimoniail-main-creative {
    max-width: 515px;
    max-height: 757px;
 }

 .testimonials_second-part {
    max-width: 206px;
    margin: 0 auto;
    margin-bottom: 4%;
    text-align: center;
 }

 .testimonials_img_testimoniail-second-creative {
    max-width: 221px;
    max-height: 333px;
 }


 /*  секцмя strong-points  */
 .strong-points {
    max-height: 680px;
    margin-bottom: 6%;
    overflow: auto;
 }
 
 .strong-points_box {
    display: flex; 
    align-items: flex-end;
    margin: 0 auto;
    max-width: 1535px;
    gap: 30px;
}

.strong-points_header {
    display: inline-block;
    position: absolute;
    left: 32%;
    transform: translate(-50%, 170%) rotate(-90deg);
}

.strong-points_card {
    flex-shrink: 0;
    width: 350px;
    height: 525px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.strong-points_img {
    background-size: 100%;
}

.strong-points_strengths-card {
    flex-shrink: 0;
    width: 395px;
    height: 650px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.strong-points_strengths-list {
    max-width: 229px;
    height: 525px;
    padding-left: 0%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.strong-points_item {
    padding-left: 0%;
    line-height: 1.3;
}

 @supports (display: grid) {
    .strong-points_box {
        display: grid;   
        grid-template-columns:  repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 10px;
    }

    .strong-points_card {
        grid-row: 2/8;
    }

    .strong-points_strengths-card {
        order: 3;
        grid-column: 3/4;
        grid-row: 1/7;
    }

    .strong-points_item {
        padding-left: 0%;
        padding-left: calc(12% + 10px);
    }
 }
   

